<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>タスク管理アプリ</title>
        <!-- BootstrapのCSS読み込み -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery読み込み -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- BootstrapのJS読み込み -->
        <script src="js/bootstrap.min.js"></script>
        <!-- 自作のJS読み込み -->
        <script src="js/todo.js"></script>
    </head>
    <body>
    <h1>ToDoリスト</h1>
    <form>
        <div class="form-group">
            <label for="addTask">NewTask</label>
            <input type="newTask" class="form-control" id="inputTask" placeholder="add new task">
        </div>
        <button id = "addButton" onClick="addTodo()" class="btn btn-default">New</button>
    </form>
    <div class="container">
        <div class="table-responsive">
            <table id = "todos" class="table table-striped">
                <tr>
                    <th>Task</th>
                    <th>RecodeDate</th>
                    <th>Status</th>
                    <th>ChangeStatus</th>
                    <th>Delete</th>
                </tr>
            </table>
        </div>
        <button id = "allButton" onClick="displaySelect(this)" class="btn btn-default">All</button>
        <button id = "activeButton" onClick="displaySelect(this)" class="btn btn-default">Active</button>
        <button id = "completeButton" onClick="displaySelect(this)" class="btn btn-default">Completed</button>
    </div>
    </body>
</html>
